*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url(/images/background1.png);
    background-size: cover;
    background-color: rgb(184, 229, 248);
    background-attachment: fixed;
}
button{
    border:none;
    outline: none;
    cursor: pointer;
}
.logo{
    margin: 68px auto 24px;
    text-align: center;
}
.Homepage-logo{
    height: 81px;
    width: 128px;
}
.css-zvnmar{
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow:0 1px 3px rgba(18, 18, 18, 0.1);
    border-radius: 2px;
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
}
.Login-content{
    position: relative;
    width: 352px;
    height: 292px;
    padding: 0px 24px 84px;
}
.SignFlow-tabs{
    width: 352px;
    height: 60px;
}
.SignFlow-tab1{
    float: left;
    width: 80px;
    height: 60px;
    margin-right: 24px;
    line-height: 60px;
    cursor: pointer;
    font-weight: 800;
    border-bottom:3px solid  rgb(0,102,255);
}
.SignFlow-tab2{
    float: left;
    width: 64px;
    height: 60px;
    margin-right: 24px;
    line-height: 60px;
    cursor: pointer;
    font-weight: 400;
}
.SignFlow-qrcodeTab{
    position: absolute;
    top: 0;
    right: 0;
}
.SignFlow-account{
    height: 48px;
    width: 352px;
    border-bottom: 1px solid rgb(235, 235, 235);
    line-height: 48px;
    margin-top:30px ;
}
.SignFlow-account .Input{
    border: 0px;
    outline: none;
}
.SignFlow-passwordInput{
    position: relative;
    height: 48px;
    width: 352px;
    border-bottom: 1px solid rgb(235, 235, 235);
    line-height: 48px;
    margin-top: 16px;
}
.SignFlow-passwordInput .Input{
    border: 0px;
    outline: none;
}
.Button-eye{
    display: block;
    float: right;
    line-height: 48px;
    background: transparent;
    color:rgb(133, 144, 166);
    border:none;
}
.Button-closeeye{
    display: none;
}
.Login-options{
    overflow: hidden;
    width: 352px;
    height: 20px;
    margin-top: 12px;
    font-size: 14px;
    
}
.Login-options  .left{
    text-decoration: none;
    color: rgb(23, 81, 153);
    line-height: 20px;
}
.Login-options  .right{
    float: right;
    text-decoration: none;
    color: rgb(133, 144, 166);
}
.submitButton{
    font-size: 14px;
    border: 1px solid rgb(0,102,255);
    border-radius: 3px;
    background-color: rgb(0,102,255);
    color: white;
    width: 320px;
    height: 34px;
    cursor: pointer;
    margin: 30px 15px 0;
    padding: 0 16px;
}
.tip{
    position: absolute;
    font-size: 13px;
    color: rgb(128,128,128);
    height: 34.667px;
    width: 352px;
    padding: 12px 24px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    bottom: 0;
}
.tip a{
    text-decoration: none;
    color: rgb(128,128,128);
}
.Login-socialLogin{
    width: 352px;
    height: 60px;
    padding: 0 24px;
}
.css-1hmxk26{
    width: 352px;
    height: 0;
    border-top:1px solid rgb(235, 235, 235);
    margin: 0 auto;
}
.Login-socialLogin span{
    color: rgb(133,144,166);
    font-size: 15px;
    line-height: 60px;
    width: 90px;
}
.Login-socialLogin .weChat{
    float: right;
    width: 54px;
    height: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: right;
}
.Login-socialLogin .weChat a{
    text-decoration: none;
    font-size: 14px;
    color: #8590A6;
}
.Login-socialLogin .weChat .weChatLog{
    float: left;
    padding-top: 4px;
}
.Login-socialLogin .qq{
    float: right;
    text-align: center;
    width: 54px;
    height: 60px;
    line-height: 60px;
    margin-left: 22px;
}
.Login-socialLogin .qq a{
    text-decoration: none;
    font-size: 14px;
    color: #8590A6;
}
.Login-socialLogin .qq .qqLog{
    float: left;
    padding-top: 4px;
}
.Login-socialLogin .signFlow{
    float: right;
    width: 54px;
    height: 60px;
    line-height: 60px;
    margin-left: 22px;
    text-align: right;
}
.Login-socialLogin .signFlow a{
    text-decoration: none;
    font-size: 14px;
    color: #8590A6;
}
.Login-socialLogin .signFlow .signFlowLog{
    float: left;
    padding-top: 4px;
}
.css-1k01q48{
    background-color: rgb(246, 246,246);
    width: 352px;
    height: 60px;
    padding: 0 24px;
}
.css-1k01q48 .css-1pysja1{
    float: left;
    width: 175.5px;
    height: 26px;
    margin-top: 14px;
}
.css-jzr1wa{
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    color:rgb(0, 102, 255);
}
.css-lbryw4{
    float: left;
    background-color: #EBEBEB;
    width: 1px;
    height: 20px;
    margin-top: 18px;
    font-size: 15px;
}
.css-eow14e{
    float: right;
    margin-top: 16px;
    font-size: 15px;
}
.css-eow14e .zhihuLog{
    float: left;
    margin-right: 5px;
}
.css-eow14e a{
    text-decoration: none;
    color: rgb(0, 102, 255);
}
.SignFlowHomepage-footer{
    margin-bottom: 38px;
    margin-top: 100px;
    text-align: center;
}
.ZhihuLinks a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.ZhihuLinks a::after{
    content: " · ";
}
.ZhihuLinks .last::after{
    content: none;
}
.ZhihuRights{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.ZhihuRights a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.ZhihuRights a::after{
    content: " · ";
}
.ZhihuRights span::after{
    content: " · ";
}
.ZhihuRights .last::after{
    content: none;
}
.ZhihuReports{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 8px;
}
.ZhihuReports a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.ZhihuReports a::after{
    content: " · ";
}
.SignFlow-account-1{
    overflow: hidden;
    width: 352px;
    height: 49px;
    margin-top: 24px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.SignFlow-supportedCountriesSelectContainer{
    float: left;
    width: 93px;
    height: 26px;
    margin-top: 10px;
}
.Popover{
    width: 93px;
    height: 26px;
}
.Popover .button{
    float: left;
    font-size: 14px;
    color: #8590A6;
    height: 26px;
    line-height: 26px;
}
.Popover .selecte{
    float: right;
    margin-top: 2px;
    color: #8590A6;
}
.SignFlow-accountSeperator{
    float: left;
    border-left: 2px solid #EBEBEB;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.SignFlow-accountInputContainer{
    float: left;
    height: 49px;
    width: 232px;
    line-height: 49px;
}
.SignFlow-accountInputContainer .Input-wrapper input{
    height: 48px;
    border: 0;
    outline: none;
    font-size: 14px;
}
.SignFlow-InputContainer{
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    width: 352px;
    height: 48px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.SignFlow-InputContainer .Input-wrapper input{
    text-align: left;
    height: 48px;
    border: 0;
    outline: none;
    font-size: 14px;
}
.SignFlow-InputContainer button{
    position: absolute;
    text-align: right;
    color: rgb(23, 81, 153);
    background-color: transparent;
    border: none;
    font-size: 14px;
    top: 12px;
    right: 0;
}
.Login-options-1{
    width: 352px;
    height: 20px;
    margin-top: 12px;
}
.Login-options-1 div{
    float: right;
    font-size: 14px;
    color: #8590A6;
}
.SignFlow-submitButton{
    width: 352px;
    height: 34px;
    padding: 0 16px;
    border: 1px solid rgb(0, 102, 255);
    background-color: rgb(0, 102, 255);
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 30px;
}